.container {
    position: relative;
    max-width: 1920px;
    height: 100svh;
    display: grid;



    img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;

    }
}

.details__container {
    position: absolute;
    left: 50px;
    bottom: 15%;
    width: 40%;



    .details {
        display: grid;
        text-align: left;
        margin-right: 2rem;
    }

    h2,
    h3 {
        color: var(--clr-white);
        text-transform: uppercase;
        font-weight: bolder;
        font-family: var(--font);
        font-weight: bolder;
        text-wrap: wrap;
    }

    h2 {
        font-size: var(--fs-large);
        line-height: 1;
    }

    h3 {
        font-size: var(--fs-small);
        font-weight: normal;
        margin-bottom: 0.5rem;
    }

    /* button {
        background-color: transparent;
        border: 2px solid var(--clr-white);
        padding: 1rem 1rem;
        margin-top: 2rem;
        width: 10rem;
        cursor: pointer;
    } */
}