* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --clr-white: #FFFFFF;
    --clr-offwhite: #787F86;
    --clr-black: #000000;

    --fs-large: 3rem;
    --fs-medium: 1.875rem;
    --fs-small: 1.172rem;
}


.wrapper {
    position: relative;
    height: 100%;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}